**/bin/
**/obj/
**/node_modules/
**/dist/
.artifacts/
*.db
*.db-shm
*.db-wal
.vs/
.idea/
*.csproj.user
*.tsbuildinfo
package-lock.json
**/.firebase/
**/.pnpm-store/
firebase-debug.log*
src/frontend/.env.local
src/frontend/.env.*.local
